.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  
  .button {
    width: 100px;
    border: none;
    border-radius: 4rem;
    padding: 16px;
    background-color: rgba(80, 80, 80, 80);
    color: white;
    cursor: pointer;
    transition: .5s;
  }

.button:hover{
  background-color: rgba(110, 110, 110, 110);
  }
  
  .button:disabled{
    background-color: rgb(242,242,242);
    cursor: not-allowed;
    color: black;
  }