.container{
    position: relative;
    display: flex;
    flex-direction: column;
    gap:30px;
    margin-bottom: 7rem;
    justify-content: center;
  }
  
  .select{
    margin-top: 50px;
    padding: 10px 30px;
   
    width: max-content;
   
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 8px;
   
  }
  
  .editor {
    display: flex;
    
    height: 300px;
    position: relative;
    
  }

  .button,
  .addButton {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--textColor);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .addButton {
    border-color: #1a8917;
  }
  
  .add {
    display: flex;
    gap: 20px;
    background-color: transparent;
    position: absolute;
    z-index: 999;
    width: 10%;
    right: 50px;
  }


  .input{
    padding: 20px;
    font-size: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--textColor);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 8px;
    margin-top: 10px;
    max-width: 80%;
  }

  .input::placeholder{
    color: #b3b3b1;
  }
  
  .flex{
    display:flex;
    gap:20px;
  }
  .textArea {
    width: 80%; 
    border:none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 8px;
  }
  
  .publish{
    border: none;
    padding: 12px 12px;
    background-color: rgb(26, 137, 23);
    border-radius: 1rem;
    width: 100px;
    color: white;  
    cursor: pointer;
    font-weight:600;
   
    transition: 0.2s;
    
  }

  .publish:hover{
    box-shadow: rgb(26, 137, 23) 0px 2px 8px;
    background-color: white;
    color: rgb(26, 137, 23);  
    border: none;
  }