.container {
  margin-bottom: 2rem;
  border-bottom: 1px rgb(243, 243, 243) solid;
  width: 90%;
  
}



.categories {
  display: flex;
  justify-content: center;
}

.category {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  margin-right: 1rem;
  height: 60px;
  transition: transform 250ms;
}


.category:hover {
  transform: scale(1.1);
}





@media screen and (max-width: 1024px) {
  .category {
    width: 25%;
  }
}
@media screen and (max-width: 768px) {
  .category {
    width: 45%;
  }
}
@media screen and (max-width: 650px) {
  .category {
    width: 100%;
  }
  

}
@media screen and (max-width: 530px) {
  .category {
    width: 100%;
    
  }
  
.categories {
  font-size: 14px;
  
}

}
