.container {
  
}

.title {
  margin: 50px 0px;
  
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.category {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 700;
  text-transform: capitalize;
  width: 15%;
  height: 80px;
  justify-content: center;
  border-radius: 10px;
  transition: transform 250ms;
}

.image {
  border-radius: 50%;
}

.category:hover {
  transform: translateY(-7px);
}

.category.style {
  background-color: #57c4ff31;
}

.category.fashion {
  background-color: #cf66b931;
}

.category.food {
  background-color: #0af71234;
}

.category.travel {
  background-color: #fc35043f;
}

.category.culture {
  background-color: #ffa6394b;
}


.category.coding {
  background-color: #1c75e942;
}



@media screen and (max-width: 1280px) {
  .category {
    width: 20%;
  }
}
@media screen and (max-width: 1024px) {
  .category {
    width: 25%;
  }
}
@media screen and (max-width: 768px) {
  .category {
    width: 45%;
  }
}
@media screen and (max-width: 640px) {
  .category {
    width: 100%;
  }
}