.container {
  margin-bottom: 2rem;
  border-bottom: 1px rgb(243, 243, 243) solid;
  width: 90%;
  
}



.categories {
  display: flex;
  flex-wrap: wrap;
  

 
}

.category {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  width: 15%;
  height: 60px;
  transition: transform 250ms;
}


.category:hover {
  transform: scale(1.1);
}




@media screen and (max-width: 1280px) {
  .category {
    width: 20%;
  }
}
@media screen and (max-width: 1024px) {
  .category {
    width: 25%;
  }
}
@media screen and (max-width: 768px) {
  .category {
    width: 45%;
  }
}
@media screen and (max-width: 640px) {
  .category {
    width: 100%;
  }
}