.container{
  flex:2.5;
  border-right: 1px rgb(243, 243, 243) solid;
  display: block;
  margin-bottom: 1rem;
 
}

.re{
  position: relative;
}
.st{
  position: sticky;
  top: 0px;
  z-index: 499;
  background-color: white ;
}

.title{
  margin: 50px 0px;
}

@media screen and (max-width: 1024px) {
  .container {
    border-right: none;
  }
}
