.container {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  gap: 50px;
  border-bottom: 1px rgb(243, 243, 243) solid;
  width: 90%;
  
}

.imageContainer {
  flex: 0.5;
  height: 100px;
  width: 60px !important;
  position: relative;
  margin-bottom: 2rem;
  margin-right: 1rem;
}



.textContainer {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.detail{
  margin-bottom: 2rem;
  align-items: center;
  align-content: center;
 
}

.image {
  object-fit: cover;
}

.date {
  color: gray;
  margin-right: 0.5rem;
  font-size: 12px;
}

.category {
  font-size: 13px;
  font-weight: 600;
  margin-right: 0.5rem;
  text-transform: capitalize;
  background-color: rgb(241, 241, 241);
  border-radius: 3rem;
  width: max-content;
  padding: 2px 8px;
}

.desc {
  font-size: 18px;
  font-weight: 300;
  color: var(--softTextColor);
  margin-bottom: 1rem;
}



@media screen and (max-width: 700px) {
  .imageContainer {
    display: none;
  }
}