.container {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;

  
}

.infoContainer {
    display: flex;
 max-width: 640px;
    align-items: center;
    gap: 50px;
  }
  
.textContainer {
    flex: 2;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
   
  }
  
.title {
    font-size: 40px;
    margin-bottom: 1.5rem;
    
  }
  
.user {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 1.5rem;
    border-bottom: 1px rgb(243, 243, 243) solid;
    max-width: 50%;
  }
  
.userImageContainer {
    width: 50px;
    height: 50px;
   
    position: relative;
  }
  
.avatar {
    border-radius: 50%;
    object-fit: cover;
  }
  
.userTextContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--softTextColor);
  }
  
.username {
    font-size: 20px;
    font-weight: 500;
  }

 
.imageContainer {
    height: 300px;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
    margin-top: 3rem;
   
  }
  
  
.content {
    display: flex;
    gap: 50px;
  }
  
.post {
    flex: 3;
    margin-top: 60px;
  }

.gap{
  display: flex ;
  flex-direction: row;
  gap: 10px;
}

.readingTime {
    font-size: 13px;
   
    margin-right: 0.5rem;
    text-transform: capitalize;
    background-color: rgb(241, 241, 241);
    border-radius: 3rem;
    width: max-content;
    padding: 2px 8px;
    color: #6B6B6B;
  }
  .description:first-letter {
    font-family: 'Times New Roman', Times, serif;
    float: left;
    font-size: 6rem;
    line-height: 0.65;
    margin: 0.1em 0.1em 0.1em 0;
  }
  .description{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  @media screen and (max-width: 1536px) {
    .title {
      font-size: 54px;
    }
  }
  @media screen and (max-width: 1280px) {
    .title {
      font-size: 48px;
    }
  }
  
  @media screen and (max-width: 640px) {
    .title {
      font-size: 36px;
    }
  
    .description p{
      font-size: 18px;
    }
    .gap{
    
      flex-direction: column;
    
    }
  }