.categoryList {
    margin-top: 35px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .categoryItem {
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 14px;
  }
  
  .categoryItem.style {
    background-color: #3179ff50;
  }
  
  .categoryItem.fashion {
    background-color: #cf66b84d;
  }
  .categoryItem.food {
    background-color: #0af71249;
  }
  
  .categoryItem.travel {
    background-color: #fc360452;
  }
  
  .categoryItem.culture {
    background-color: #ffa63962;
  }
  
  .categoryItem.coding {
    background-color: #1cc0e95d;
  }


