.categoryList {
    margin-top: 15px;
    margin-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
  }
  
  .categoryItem {
    padding: 10px 25px;
    border-radius: 4rem;
    font-size: 13px;
    
    
  }
  
  .categoryItem.style {
    background-color: rgb(242,242,242);
  }
  
  .categoryItem.fashion {
    background-color: rgb(242,242,242);
  }
  .categoryItem.food {
    background-color: rgb(242,242,242);
  }
  
  .categoryItem.travel {
    background-color: rgb(242,242,242);
  }
  
  .categoryItem.culture {
    background-color: rgb(242,242,242);
  }
  
  .categoryItem.coding {
    background-color: rgb(242,242,242);
  }


