.container {
    margin-top: 30px;
   
    border-bottom: 1px rgb(243, 243, 243) solid;
    
  }
  
  .title {
    font-size: 32px;
    font-weight: 300;
  }
  

.grid{
  display:grid;
  margin-bottom: 30px;
  grid-template-columns: repeat(3, minmax(60px, 1fr));
}

.flex{
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 10px;
}

.titre{
  display: flex;
  
  align-items: center;
  margin-bottom: 16px;
  gap: 10px;
}

.insideFlex{
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.number{
  color: #F2F2F2;
  letter-spacing: -0.014em;
  font-size: 32px;
  font-weight: 500;
  margin-right: 16px;
}

.title{
  font-size: 14px;
  color: #242424;
  line-height: 20px;
  font-weight: 900;
  margin-bottom: 5px;
}

.info{
  padding-bottom: 10px;
}

.date{
  color: #6B6B6B;
  font-size: 12px;
  margin-top: 5px;
}


@media screen and (max-width: 1000px) {
  .grid{
    display:grid;
    
    grid-template-columns: repeat(2, minmax(60px, 1fr));
  }
}

@media screen and (max-width: 728px) {
  .grid{
    display:grid;
    
    grid-template-columns: repeat(1, minmax(60px, 1fr));
  }
}

@media screen and (max-width: 560px) {
  .flex{
    padding-left: 0;
  }
}