.container {
  flex: 2;
  margin-top: 60px;
  
}

.subtitle {
  color: gray;
  font-size: 16px;
  font-weight: 400;
}

.title {
  font-size: 28px;
  font-weight: 900;

}

.items{ 
  margin-top: 35px ;
  margin-bottom: 60px ;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.item{
  display: flex;
  align-items: center;
  gap: 20px;
}

.image{
  border-radius: 50%;
  border: 3px solid lightgray;
  object-fit: cover;
}

.imageContainer{
  flex: 1;
  aspect-ratio: 1/1;
  position: relative;
}

.textContainer{
  flex: 4;
}


.postTitle{
  font-size: 18px;
  font-weight: 500;
  color: var(--softTextColor);
}

.category{
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 12px;
  color: white;
}

.category.travel{
  background-color: #ff7857;
}
.category.food{
  background-color: #ffb14f;
}

.category.fashion{
  background-color: #7fb811;
}

.category.culture{
  background-color: #ff7887;
}


.detail{
  font-size: 12px;
}

.date{
  color: gray;
}
@media screen and (max-width: 1024px) {
  .container {
    display: none;
  }
}