.container {
  flex: 1;
  
  min-height: 100vh
}

.by{
  position: relative;
  height:100%;
}

.et{
  top: -643px;
  position: sticky;
}

.subtitle {
  color: gray;
  font-size: 16px;
  font-weight: 400;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 3rem;
}


.items{ 
  margin-top: 35px ;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.item{
  display: flex;
  align-items: center;
  
}

.image{
  border-radius: 50%;
  border: 3px solid lightgray;
  object-fit: cover;
}

.imageContainer{
  flex: 1;
  aspect-ratio: 1/1;
  position: relative;
}

.textContainer{
  flex: 4;
}


.postTitle{
  font-size: 18px;
  font-weight: 500;
  color: var(--softTextColor);
}

.category{
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 14px;
  color: white;
}



.detail{
  font-size: 14px;
}

.date{
  color: gray;
}
@media screen and (max-width: 1024px) {
  .container {
    display: none;
  }
}